$green: #7ca48c;
$main: #fefaef;
$main-dim: #6666662a;
$text-color:#585656;
$brown: #b05d3d;
$button-dim: #e6c4a5bb;
.table-row{
    border: 1px solid black;
    height: 100px;
    background-color: $main;
    border-radius: 5px;
    text-align: center;
}
.titletable{
    font-size: 20px;
    font-weight: bold;
    height:40px;
    
    text-overflow: ellipsis;
    word-wrap: break-word;
    border: 1px solid black;
    padding: 5px;
    
    color: $text-color;
}