$green: #7ca48c;
$main: #fefaef;
$main-dim: #6666662a;
$text-color:#585656;
$brown: #b05d3d;
$button-dim: #e6c4a5bb;

.MainUserPageWrapper{
    display: flex;
    flex-direction: column;
    & .bordered{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px; 
        
        box-shadow: $green 5px 5px;
            background-color: #F2F2F2;
            border: 1px solid $brown;
            border-radius: 8px;
            
    
    }
}
.dashnav{
    width: 100vw;
    height: 50px;
    border: 1px solid $main-dim;
    background-color: $main;
    display: flex;
    justify-content: flex-start;
    caret-color: rgba(0,0,0,0);
    align-items: center;
   
    & .profile-container{
        width: 100px;
        margin:5px;
        & .pro-avt{
            border-radius: 50%;
            width: 40px;
            border: 2px solid $text-color;
            cursor:pointer
        }
        flex: 2
    }
    & .profile-name{
        font-size: 20px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.671);
        flex:5

    }
    & .expandnav{
        flex: 1;
        transform: scale(0.75);
        cursor:pointer
        
    }
}
.navmenu{
    border: 2px solid $text-color;
    border-radius: 5px;
    background-color: white;
    width: 100vw;
    z-index: 100;
    position: fixed;
    & .nav-text{
        font-size: 20px;
        font-weight: 600;
        color: $text-color;
        box-shadow: $green 2px 2px;
        margin:10px;
        padding:5px;
        width: 100vw;
        &:hover{
            background-color: $button-dim;
            cursor:pointer;
            animation: focusNav;
            animation-duration:0.3s;
            animation-fill-mode: forwards;
        }
       
    }
     & a{
            text-decoration: none;
            color: $text-color;

        }
}
@keyframes focusNav{
    100%{
        box-shadow: $green 5px 5px;
        border: 1px solid $brown
    }
}
